<div class="row">
  <div class="Field">    
    <label>Adults</label>
    <button class="btn cntBtn" ng-click="vm.removeAdult()"><span class="fa fa-minus-square"></span></button>
    <input flex="2" class="indent popover-field" name="adults" id="field_adults" ng-model="vm.adults" placeholder="{{vm.adults}}" />
    <button class="btn cntBtn" ng-click="vm.addAdult()"><span class="fa fa-plus-square"></span></button>    
  </div>
</div>
<div class="row">
  <div class="Field">
    <label>Children (0-17) </label>
    <button class="btn cntBtn" ng-click="vm.removeChild()"><span class="fa fa-minus-square"></span></button>
    <input flex="2" class="indent popover-field" name="child" id="field_child" ng-model="vm.child" placeholder="{{vm.child}}" />
    <button class="btn cntBtn" ng-click="vm.addChild()"><span class="fa fa-plus-square"></span></button>  
  </div>
</div>
<div class="Field">
  <button class="btn cntBtn" ng-click="vm.popClose()"><span class="fa fa-check"></span></button>
</div>